

.logo {

	width: 450px;
	height: 150px;
	float: left;
}

.menubuttons {

	width: 450px;
	height: 104px;
	padding-top:46px;
	float: right;
	text-align: right;
}

.clear {

	clear: both;
}

.carousel {

	width: 900px;	
	margin: auto;
	text-align: center;
}

.header {
	width: auto;
	font-size: 80px;
	color: #000000;
	text-align: right;
}

.description {

	width: 900px;
	font-family: Verdana;
	font-size: 14px;
	text-align: left;	
	padding: 25px;

}

.home-links {

	height: 60px;
	font-size: 64px;
	color: #3f7ec9;
	font-family: georgia;
	font-weight: bold;
	text-align: center;
}

.home-links a {
	
	color: #3f7ec9;
	text-decoration: none;
}

.social {
	margin-top: 50px;
	height: 70px;
	font-size: 12pt;
	color: #3f7ec9;
	font-family: georgia;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}

.support-option {

	width: 900px;
	font-family: Verdana;
	font-size: 14px;
	text-align: left;	
	padding: 25px;

}

.support-option-title {

	font-size: 20pt;
	font-weight: bold;
}

.screencast {

	width: 900px;
	font-family: Verdana;
	font-size: 16px;
	text-align: left;	
	padding: 25px;

}

.screencast-title {

	font-size: 20pt;
	font-weight: bold;
}

.smaller-description {

	width: 900px;
	font-family: Verdana;
	font-size: 14px;
	text-align: left;	
	padding: 25px;

}

.description-icon {

	float: left;
}

.description-text {
	
	padding-top: 30px;
}

.download-link {

	width: 900px;
	padding-top: 30px;
	padding-bottom: 30px;

	text-align: right;
}

.biglink {

	font-size: 42px;
	color: #3f7ec9;
}

.footer {
	padding-top: 4px;
	width: auto;
	height: 21px;
	background-color: #CECECE;
	text-align: center;
	vertical-align: middle;
	font-size: 10px;

}

.ita-notice {

	margin: auto;
	margin-bottom: 10px;
	width: 600px;
	background: #98d097;
	border: 1px solid #176f15;
	padding: 10px;
	font-size: 12px;	
}

.ita-notice-expanded {

	display: none;
}
